.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.title {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
}

.dateField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 1rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 1rem;
}

.inputRow {
  display: flex;
  gap: 0.5rem;
}
