.container {
  margin-inline: auto;
  display: flex;
  min-height: 100svh;
  width: 100%;
  max-width: 28rem;
  flex-direction: column;
  padding-inline: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 7.5rem;
}
