@import "@fontsource-variable/geist";

:root {
  --color-fg: oklch(0.145 0 0);
  --color-fg-muted: oklch(0.556 0 0);
  --color-border: oklch(0.922 0 0);
  --color-bg-muted: oklch(0.97 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-accent: #10a894;
}

.dark {
  --color-fg: oklch(0.985 0 0);
  --color-fg-muted: oklch(0.708 0 0);
  --color-border: oklch(1 0 0 / 10%);
  --color-bg-muted: oklch(0.269 0 0);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-accent: #22c3aa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Geist Variable", sans-serif;
}
